PORT="example"
APP_URL="example"
DATABASE_URL="example"
BCRYPT_SALT_ROUNDS="example" 
JWT_ACCESS_SECRET="example" 
JWT_REFRESH_SECRET="example" 
TOKEN_ACCESS_EXPAIRED="example" 
TOKEN_REFRESH_EXPAIRED="example" 
STRIPE_SECRET_KEY="example" 
STRIPE_WEBHOOK_SECRET="example"